.card{
    width: 344px;

}

.class{
    height: 194px;

}

.greyhound-text{
    font-size: 11px;
    padding: 16px;
    color: #232f34

}

.title{
    color: #000;
    font-size: 22px;



}

.secondary{
    color:#232f34

}

img{
    content: url(/images/desert.jpg);
    height: 194px;
}

.person{
    width: 200px;
    height: 200px;

}
